# Local aws credentials
**/*/config/credentials
**/*/config/*.env
config/credentials
config/*.env

# vim tmp or conf files
**/.
**/*.swp
**/*.swo
.vimrc
.vim

# Local .terraform directories
**/.terraform/*

# Local kube_config file
**/*/.kube/*
**/*/kubeconfig.yaml

# Local log files
**/*/result.log
result.log

.vscode/

# misc
**/.DS_Store
.env

**/.terraform.lock.hcl
dat
**/.venv
